* {
    box-sizing: border-box;
}

.copyright {
    opacity: .3;
    font-size: .4em !important;
    text-align: center;
}

.fa {
    font-family: 'FontAwesome' !important;
    font-style: normal !important;
}

.fa-3x {
    font-size: 3em !important;
}

img.plain {
    background: transparent !important;
}

code .line {
    display: block;
}

code .line.focus {
    background: #02671c;
}

a {
    cursor: pointer;
}

.done {
    visibility: hidden;
    color: #17ff2e;
    display: inline-block;
    width: 0px;
    position: relative;
    right: 50px;
    text-align: center;
}

.visible .done {
    visibility: visible;
}

.shrink.visible {
    transform: scale(0.7);
}
