.terminal {
    height: 550px;
    background: #111;
    text-align: left;
    font-family: Consolas, monospace !important;
    padding: 10px 15px !important;
    overflow: auto;
}

.terminal .result {
    color: lightgoldenrodyellow;
}

.terminal.executing .typed-cursor, .terminal.executed .typed-cursor, span[run-command], .terminal .result, .terminal .command .text, .execution-indicator {
    display: none;
}

.terminal.executing .execution-indicator {
    display: block;
}

.terminal.executed .result {
    display: block;
}

.terminal .command:before {
    content: '$';
    margin-right: 10px;
}

.execution-indicator img {
    background: none !important;
    height: 70px;
}

.terminal pre, .terminal code {
    margin: 0;
    font-size: inherit;
    max-height: none !important;
    background: transparent;
}

.typed-cursor, .initial-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

